@charset "utf-8";
/* Comment */
@import "Something";
@import url("somewhere.css") layer(utilities) supports(display: flex) only screen and (orientation: landscape);

@namespace url("http://www.w3.or/1999/xhtml");

@layer component, slots;
@layer one {
    p {
        color: black;
    }
}

@property --property-name {
    syntax: "<color>";
    inherits: false;
    initial-value: #c0ffee;
}
.property {
    color: var(--property-name)
}

@supports(display: flex) {
}

@supports selector(:has(a,b)) {
}

@media all {}
@media print {}
@media screen {}
@media only screen and (min-width: 100px), (prefers-reduced-motion) or (device-width: 300px) {}
@media (hover: hover) or (pointer: coarse /*fine*/){}
@media (max-aspect-ratio: 3/2) {} /*min-aspect-ration, aspect-ratio*/
@media (color) or (min-color: 8) or (max-color: 16) or (color-gamut: srgb /*p3, rec2020*/){}
@media (device-height: 100px) or (device-width: 100px) or (display-mode: fullscreen){}
@media (width: 100px) or (height: 8rem){}
@media (inverted-colors: inverted){}
@media (orientation: portrait) or (orientation: landscape){}
@media (prefers-contrast: no-preference /*more, less, custom*/) or (prefers-color-scheme: dark) or (prefers-reduced-motion) {}
@media (resolution: 300dpi) {}
@media (scripting: initial-only /*none, enabled*/) {}

@font-feature-values Font One {
    @styleset{}
    @swash{}
    @annotation{}
    @ornaments{}
    @stylistic{}
    @character-varient{}
}

@counter-style thumbs {
    /*https://www.w3.org/TR/predefined-counter-styles/*/
    system: cyclic;
    negative: "-" /* "(" ")" will surround the negative value */;
    range: 2 infinite;
    fallback: lower-alpha;
    speak-as: bullets;
    pad: 1 "0"; /* Pads the marker length */
    symbols: "\x1F44D"; /* space seperated list: '\x1F44D' '\x1F44D' etc...*/
    additive-symbols: 3 "'", 2 "%";
    prefix: ""; /* Added before the marker */
    suffix: " "; /* Added after the marker */
}

@keyframes slidein {
    from /* 0% */ {
        transform: translateX(0%);
    }

    to /* 100% */ {
        transform: translateX(100%);
    }
}

@font-face {
    font-family: "Trickster";
    font-display: swap;
    src:
        local("Trickster"),
        url("trickster-COLRv1.otf") format("opentype") tech(color-COLRv1),
        url("trickster-outline.otf") format("opentype"),
        url("trickster-outline.woff") format("woff");
}

@page {
  /* margin */
  page-orientation: upright; /*rotate-left, rotate-right*/
  size: auto; /*portrait, landscape, 6in, 4in 6in, A4, B5, JIS-B4, letter, A4 portrait*/
  @top-right {
    content: "Page " counter(pageNumber)
  }
}
@page :left{} /*Event*/
@page :right{}/*Odd*/
@page wide{}/*page: wide is set*/
